<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление продукта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="~{navigation :: navi(Admin)}"/>
<div class="container">
    <h1>Добавление товара</h1>
    <br>
    <form action="#" th:action="@{/products/add}" th:object="${product}" method="post" enctype="multipart/form-data">
        <!--        <div class="form-group">-->
        <!--            <label for="id">ID</label>-->
        <!--            <input type="text" th:field="*{id}" id="id"/>-->
        <!--        </div>-->
        <div class="form-group">
            <label for="title">Название товара</label>
            <input type="text" th:field="*{title}" id="title"/>
        </div>
        <div class="form-group">
            <label for="title">Артикул</label>
            <input type="text" th:field="*{vendorCode}" id="vendorCode"/>
        </div>
        <div class="form-group">
            <label for="title">Краткое описание</label>
            <input type="text" th:field="*{shortDescription}" id="shortDescription"/>
        </div>
        <div class="form-group">
            <label for="title">Полное описание</label>
            <input type="text" th:field="*{fullDescription}" id="fullDescription"/>
        </div>
        <div class="form-group">
            <label for="cost">Цена товара</label>
            <input type="text" th:field="*{price}" id="cost"/>
        </div>
                <div class="form-group">
                    <label>Категория</label>
                    <select th:field="*{category.id}" class="form-control">
                        <option th:each="category: ${categories}"
                                th:value="${category.id}"
                                th:text="${category.title}" >
                        </option>
                    </select>
                </div>
        <div class="form-group">
                <label>Картинка</label>
                <input type="file" name="file" class="form-control-file" accept="image/*"/>
        </div>


        <button type="submit" class="btn btn-outline-primary">Добавить</button>

    </form>

    <a class="btn btn-outline-danger" th:href="@{'/admin'}" role="button">Отмена</a>
</div>
</body>
</html>